<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
  <header>
    <!--TRAEL EL NAVBAR-->
    <app-navbar></app-navbar>
    <div class="contentenedors">
        <button class="btn-1"  routerLink="/registro" id="btnR">
          Cerrar Seción
        </button>
    </div>
</header>
  <main>
    <app-sidebar></app-sidebar>
    <div class="page-wraper">
      <h1>MIS PROYECTOS</h1>
      <div class="container-fluid">
        <!--BREDCRUMBS-->

        <!--MI SISTEMA DE RUTAS-->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">

                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</body>
</html>
