/* registro.component.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.nav-tabs {
  border: none;
  display: flex;
  justify-content: center;
}

.nav-link {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.tab-content .tab-pane {
  display: none;
  padding: 10px;
}

.tab-content .tab-pane.active {
  display: block;
}

.iframe-area {
  border: 1px solid #ccc;
  width: 100%;
  height: 300px;
}

/*CODIGO DEL AREA DE TRABAJO*/
