header {
  background-color: #474A57;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*ENLACES*/

.list .enlaces li a{
  color: #F1E4FF;
}
.enlaces{
  display: flex;
  list-style: none;
  padding: 10;
  margin: 10px;
  gap: 30px;
}

/*LOGO*/
.logo {
  display: flex;
  align-items: center;
  color: #F1E4FF;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
