header {
  background-color: #474A57;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0%;
}

/*LOGO*/
.logo {
  display: flex;
  align-items: center;
  color: #F1E4FF;
  justify-content: center;
  flex-grow: 1; /* El div .logo ocupará el espacio disponible */
}

.logo img {
  width: 50px;
  height: 50px; 
  margin-right: 10px;
}

@media (max-width: 768px) {
  .logo img {
    width: 35px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    height: 35px;
  }

  .logo h1 {
    font-size: 18px; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }
}