<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="list">
        <ul class="enlaces">
          <li><a href="#">Planes</a></li>
          <li><a href="#">Contactos</a></li>
        </ul>
        </div>
    </nav>

    <div class="logo">
      <img src="assets/IMG/Logo2.png" alt="Logo">
      <h1>DILKAN</h1>
    </div>

    <div class="content">
      <button class="btn-1">Registrarse</button>
      <button class="btn-2">Iniciar Seción</button>
    </div>
  </header>
</body>
</html>
