<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <!--FONT AWESON-->
  <script src="https://kit.fontawesome.com/37598b2d44.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css">

</head>


<body>
  <div class="container">
    <div class="row">
      <div class="modal__container">
        <div class="modal__featured">
          <!--BOTON PARA REGRESAR-->
          <button type="button" class="button--transparent button--close">
            <svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" width="32px" height="32px" viewBox="0 0 32 32">
              <g>
                <path fill="#ffffff"
                  d="M1.293,15.293L11,5.586L12.414,7l-8,8H31v2H4.414l8,8L11,26.414l-9.707-9.707 C0.902,16.316,0.902,15.684,1.293,15.293z">
                </path>
              </g>
            </svg>
          </button>
    
          <div class="modal__circle"></div>
          <img src="assets/IMG/Logo1.png" class="modal__logo" />
        </div>
    
        <div class="text-inicio">
    
          <form class="formulario">
            <!-- Utiliza [(ngModel)] junto con el atributo 'name' o 'ngModelOptions' -->
            <h3 class="text-label">Nombre del proyecto:</h3>
            <input [(ngModel)]="nombre" name="nombre" type="text" class="input"  >
            <p>Los archivos html,css y js reciben este nombre con sus respectivas extenciones. </p>
            <h3 class="text-label">Colaboradores:</h3>
    
            <div>
              <div class="agregar-colaborador">
                <input [(ngModel)]="colaboradores" name="colaborador" type="text" class="input" placeholder="Nombre del colaborador">
                <button (click)="obtenerColaboradores()"> <i class="fas fa-plus"></i> </button>
              </div>
            </div>
    
            <button class="button">CREAR</button>
    
    
          </form>
        </div> <!-- END: .modal__content -->
      </div> <!-- END: .modal__container -->
    </div>
  </div>
</body>




