<!DOCTYPE html>
<html>
<head>
  <script src="https://kit.fontawesome.com/37598b2d44.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="list">
      <ul class="enlaces">
        <li><a href="#">Planes</a></li>
        <li><a href="#">Contactos</a></li>
      </ul>
      </div>
    <!--TRAEL EL NAVBAR-->
    <app-navbar></app-navbar>
        <button class="btn-1"  routerLink="/registro" id="btnR">
          Registrarse
        </button>
        <button class="btn-2"  routerLink="/login" id="btnI">
          Iniciar Seción
        </button>

  </header>
  <div class="container">
    <div class="half">
      <div class="content">
        <p class="heading">CODIFICA CON: DILKAN COLLAB</p>
        <p class="para">
          DILKAN te permite trabajar en un entorno de desarrollo para crear proyectos donde podrás
          organizarlos en carpetas, agregar colaboradores y visualizar los cambios que realices
          en tiempo real.
        </p>
        <button class="btn" routerLink="/registro">PROBAR AHORA</button>
        <i class="fa-solid fa-folder-tree"></i>
        </div>
    </div>

    <div class="half" id="logoSection">
      <div class="logos">
        <div class="card">
          <div class="image-container">
            <!--IMAGENES DE LOGOS-->
            <div class="logoDilkan">
              <img src="assets/IMG/Logo1.png">
            </div>
            <div class="circle" id="html">
              <img src="assets/IMG/html.webp">
            </div>
            <div class="circle" id="css">
              <img src="assets/IMG/css3.png">
            </div>
            <div class="circle" id="js">
              <img src="assets/IMG/javaS.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- "PLANES" -->
  <div  class="grid-container" id="plan">
    <h1 class="title">PLANES</h1>

    <div class="planes" >
      <div class="plan">
        <div class="content-plan">
          <div class="price">$ 8.34</div>
          <div class="title">PLAN AVANZADO </div>
          <div class="description">Sin límites.</div>
          <img src="assets/IMG/plangold.png" class="imagPlan">
        </div>
      </div>

      <div class="plan">
        <div class="content-plan">
          <div class="price">$ 4.17</div>
          <div class="title">PLAN BÁSICO </div>
          <div class="description">Máximo 100 proyectos.</div>
          <img src="assets/IMG/plansilver.png" class="imagPlan">
        </div>
      </div>

      <div class="plan">
        <div class="content-plan">
          <div class="price">$ 0.00</div>
          <div class="title">PLAN GRATUITO</div>
          <div class="description">Máximo 15 proyectos y 5 colaboradores.</div>
          <img src="assets/IMG/free.png" class="imagPlan">
        </div>
    </div>


    </div>
  </div>
</body>
<footer id="footer">
  <!--TRAEL EL FOOTER-->
  <app-footer></app-footer>
</footer>
</html>
