body{
  background-color: #EEEFF4;
}

/* Estilo del componente "app-navbar" */
app-navbar {
  position: relative; /* Asegura que el componente tenga posición relativa */
  z-index: 0; /* Establece el z-index menor para que los enlaces aparezcan encima */
}



/* ENLACES */
.list .enlaces {
  position: absolute; /* Posiciona los enlaces de forma absoluta */
  top: 20px; /* Ajusta la distancia desde arriba según tus necesidades */
  margin-left:5%;
  z-index: 1; /* Establece un z-index mayor para que los enlaces aparezcan encima del navbar */
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center; /* Centrar verticalmente los enlaces */
}

.list .enlaces li a {
  color: #e5deec;
}


/*BOTONES*/
#btnR{
    position: absolute;
    top: 7%;
    left: 80%;
    transform: translate(-50%, -50%);
}
#btnI{
  position: absolute;
  top: 7%;
  left: 90%;
  transform: translate(-50%, -50%);
}
/* Estilo de los botones */

.btn-1, .btn-2 {
  color: #474A57;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background:  #FDCD00 50%;
  border-radius: 5px;
  margin-right: 20px;
}
.btn-2 {
color: #18191F;
margin-left: 20px;
}





.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #E44D26;
  margin-left: 55px;

}

.content .heading {
  font-weight: 950;
  font-size: 65px;
  text-align: center;
}

.content .para {
  line-height: 1.5;
  color: #474A57;
  font-size: 28px;
}

.content .btn {
  color: #18191F;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-55deg, #f89b29 10%, #FDCD00 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #E44D26 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}




/*IMAGENES*/


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #EEEFF4;
  padding: 20px;
}

.half {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .half {
    flex: 50%;
  }
  .content {
    margin-left: 0%; /* Eliminamos el margen izquierdo en dispositivos pequeños */
  }

  .content .heading {
    font-size: 28px; /* Reducimos el tamaño del título para dispositivos pequeños */
  }

  .content .para {
    font-size: 12px; /* Reducimos el tamaño del párrafo para dispositivos pequeños */

  }

}

.logos{
  background-color: #474A57;
  height: 600px;
  width: 500px;
  margin-top: 2%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);

}



.logoDilkan img {
  margin-top: 10px;
  width: 350px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 35%; /* Crea bordes redondeados */
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle img {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Crea bordes redondeados */
}


#html{
  position: absolute;
  top: 45%;
  left: 0%;
  transform: translate(-50%, -50%);
}

#css{
  position: absolute;
  top: 73%;
  left: 30%;
  transform: translate(-50%, -50%);
}


#js{
  position: absolute;
  top: 89%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;

}

/*PLANES*/

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  text-align: center;
}

.grid-container .title {
  font-weight: 800;
  text-transform: uppercase;
  color: #18191F;
  margin-top: 10px;
  font-size: 35px;
  letter-spacing: 1px;
  grid-column: 1 / -1;
}

.planes{
  display: flex;
  justify-content: center;
}

.plan {
  width: 260px;
  padding: 20px 1px;
  margin: 50px;
  margin-left: 100px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  background-color: #474A57;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  padding: 20px;
}


@media screen and (max-width: 767px) {
  .planes {
    flex-direction: column; /* Cambiamos la dirección del flex container en dispositivos pequeños */
    align-items: center; /* Centramos los elementos en el eje transversal (vertical) */
  }

  .plan {
    margin: 10px;
    width: 100%; /* Establecemos el ancho al 100% para que ocupe toda la pantalla en dispositivos pequeños */
    max-width: 200px; /* Ajustamos el ancho máximo para que no ocupe todo el ancho en pantallas muy pequeñas */
  }
}


.content-plan .price {
  color: #F4F5F7;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.content-plan {
  padding: 10px;

}

.content-plan .description {
  color: #EEEFF4;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.content-plan .title {
  font-weight: 800;
  text-transform: uppercase;
  color: #EEEFF4;
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}

.content-plan img {
  width: 150px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 10%; /* Crea bordes redondeados */
}

