
/*BOTONES*/
.content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.btn-1 {
  color: #474A57;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background:  #FDCD00 50%;
  border-radius: 5px;
  margin-right: 20px;
}
  .btn-2 {
  color: #18191F;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background:  #FDCD00 50%;
  border-radius: 5px;
  margin-right: 20px;
}

