<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="container">
    <div class="half">
      <div class="content">
        <p class="heading">CODIFICA CON: DILKAN COLLAB</p>
        <p class="para">
          DILKAN te permite trabajar en un entorno de desarrollo para crear proyectos donde podrás
          organizarlos en carpetas, agregar colaboradores y visualizar los cambios que realices
          en tiempo real.
        </p>
        <button class="btn">PROBAR AHORA</button>
      </div>
    </div>

    <div class="half" id="logoSection">
      <div class="logos">
        <div class="card">
          <div class="image-container">
            <!--IMAGENES DE LOGOS-->
            <div class="logoDilkan">
              <img src="assets/IMG/Logo1.png">
            </div>
            <div class="circle" id="html">
              <img src="assets/IMG/html.webp">
            </div>
            <div class="circle" id="css">
              <img src="assets/IMG/css3.png">
            </div>
            <div class="circle" id="js">
              <img src="assets/IMG/javaS.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- "PLANES" -->
  <div  class="grid-container">
    <h1 class="title">PLANES</h1>

    <div class="planes">
      <div class="plan">
        <div class="content-plan">
          <div class="price">$ 8.34</div>
          <div class="title">PLAN AVANZADO </div>
          <div class="description">Sin límites.</div>
          <img src="assets/IMG/plangold.png" class="imagPlan">
        </div>
      </div>

      <div class="plan">
        <div class="content-plan">
          <div class="price">$ 4.17</div>
          <div class="title">PLAN BÁSICO </div>
          <div class="description">Máximo 100 proyectos.</div>
          <img src="assets/IMG/plansilver.png" class="imagPlan">
        </div>
      </div>

      <div class="plan">
        <div class="content-plan">
          <div class="price">$ 0.00</div>
          <div class="title">PLAN GRATUITO</div>
          <div class="description">Máximo 15 proyectos y 5 colaboradores.</div>
          <img src="assets/IMG/free.png" class="imagPlan">
        </div>
    </div>


    </div>
  </div>

</body>
</html>
