<footer class="footer">
  <div class="left-section">
    <p>© 2023 Karen Lopez & Dilan Almendarez. All rights reserved</p>
  </div>
 <!--
  <div class="center-section">
    <div class="logo">
      <img src="assets/IMG/Logo2.png" alt="Logo">
      <h1>DILKAN</h1>
    </div>
  </div>

 -->
  <div class="right-section">
    <div class="circle" >
      <a href="#"><img src="assets/IMG/youtube.png" class="youtube" ></a>
      <a href="#"><img src="assets/IMG/git.png" class="git"></a>
    </div>

  </div>
</footer>
