/* Estilos para el footer en pantallas grandes */
.footer {
  background-color: #0B0D17;
  color: #D9DBE1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.circle a img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.youtube,
.git {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

/* Estilos para el footer en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .left-section,
  .right-section {
    margin: 5px 0;
  }

  .circle a img {
    width: 35px;
    height: 35px;
  }
}
