<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
      <!--FONT AWESON-->
      <script src="https://kit.fontawesome.com/37598b2d44.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
  </head>
  <body>
    <div class="container">
      <div class="row d-flex flex-wrap">
        <div *ngFor="let proyecto of proyectos" class="col-md-3 proyecto-item">
          <div style="position: relative; display: inline-block;">
            <i class="fas fa-solid fa-folder" style="color:#FDCD00; font-size: 100px; margin-right: -20px; left: -20px;"></i>
            <i class="fas fa-solid fa-trash" style="color: #eb2907; position: absolute; bottom: 0; left: 0; font-size: 25px; margin-top: 10px;"></i>
          </div>
          <p (click)="proyectoId(proyecto._id)">{{ proyecto.nombre }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
