
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <!--FONT AWESON-->
    <script src="https://kit.fontawesome.com/37598b2d44.js" crossorigin="anonymous"></script>
</head>
<body>
  <input type="checkbox" id="check">
  <label class="button bars" for="check"><i class="fas fa-bars"></i></label>
  <div class="side_bar">
    <div class="title">
      <div class="logo">Menú</div>
      <label class="button cancel" for="check"><i class="fas fa-times"></i></label>
    </div>
    <ul>
      <li><a routerLink="/mis-proyectos"><i class="fas fa-solid fa-briefcase"></i>Mis proyectos</a></li>
      <li><a routerLink="/crear-proyecto"><i class="fas fa-solid fa-folder-plus"></i>Crear proyecto</a></li>
      <li><a routerLink="/mi-perfil"><i class="fas fa-solid fa-user"></i>Mi perfil</a></li>
      <i class="fa-solid fa-user-hair-long"></i>
    </ul>
  </div>
</body>
