
<div class="modal">
  <div class="modal__container">
    <div class="modal__featured">

    <div class="text-inicio">
      <h1>PLANES </h1>

      <form class="formulario">
        <section class="seccion">
          <div class="izquierda">
            <h3 class="text">Tipo de plan:</h3>
            <h3 class="text">Costo mensual:</h3>
            <h3 class="text">Fecha de inicio:</h3>
            <h3 class="text">Fecha final:</h3>
            <button class="button-A" (click)="guardarInfo()">ACEPTAR</button>
          </div>

          <div class="derecha">

            <select class="planes" >
              <option value="avanzao">Avanzado </option>
              <option value="basico">Básico</option>
              <option value="free">Free</option>
            </select>
            <input  class="input" type="text" for="costoMensual">
            <input class="input" type="date" for="fecha">
            <input class="input" type="date" for="fecha">
            <button class="button-C" (click)="cerrarModal()">CANCELAR</button>
          </div>
        </section>
      </form>
    </div> <!-- END: .modal__content -->
  </div> <!-- END: .modal__container -->
</div> <!-- END: .modal -->


