<html>
<head>
  <script>
    function updateIframeContent(iframeId, code) {
      var iframe = document.getElementById(iframeId);
      iframe.contentDocument.documentElement.innerHTML = code;
    }
  </script>
    <meta charset="UTF-8">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
      <!--FONT AWESON-->
      <script src="https://kit.fontawesome.com/37598b2d44.js" crossorigin="anonymous"></script>

</head>

<body>
  <app-btn-option></app-btn-option>
  <button (click)="extractAndSend()" class="btn-option fas fa-play " id="run" ></button>

<!-- app.component.html -->
<div class="container">

  <div class="circle" id="html">
    <img src="assets/IMG/ic-html.png">
  </div>

  <textarea id="htmlArea" class="text-area" [(ngModel)]="htmlContent" width="400" height="300" srcdoc=""></textarea>

  <div class="circle" id="css">
    <img src="assets/IMG/ic-css.png">
  </div>

  <textarea id="cssArea" class="text-area" [(ngModel)]="cssContent" width="400" height="300" srcdoc=""></textarea>

  <div class="circle" id="js">
    <img src="assets/IMG/ic-js.png">
  </div>

  <textarea id="jsArea" class="text-area" [(ngModel)]="jsContent" width="400" height="300" srcdoc=""></textarea>

  <iframe [src]="iframeSrc" id="pantalla"  width="550" height="300" class="iframe-area"></iframe>

  <div class="circle" id="js">
    <img src="assets/IMG/ic-js.png">
  </div>
</div>



</body>
