<html>
<head>
  <script>
    function updateIframeContent(iframeId, code) {
      var iframe = document.getElementById(iframeId);
      iframe.contentDocument.documentElement.innerHTML = code;
    }
  </script>
    <meta charset="UTF-8">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
      <!--FONT AWESON-->
      <script src="https://kit.fontawesome.com/37598b2d44.js" crossorigin="anonymous"></script>

</head>

<body>
  <app-btn-option></app-btn-option>
  <button (click)="extractAndSend()" class="btn-option fas fa-play " id="run" ></button>

<!-- app.component.html -->
<div class="container">

  <div class="tab-container">
    <div class="tab-icon">
      <img src="assets/IMG/ic-html.png">
    </div>
  </div>
  <textarea id="htmlArea" class="text-area" [(ngModel)]="htmlContent" (input)="updateIframe('htmlArea', htmlContent)"></textarea>

  <div class="tab-container">
    <div class="tab-icon">
      <img src="assets/IMG/ic-css.png">
    </div>
  </div>
  <textarea id="cssArea" class="text-area" [(ngModel)]="cssContent" (input)="updateIframe('cssArea', cssContent)"></textarea>

  <div class="tab-container">
    <div class="tab-icon">
      <img src="assets/IMG/ic-js.png">
    </div>
  </div>
  <textarea id="jsArea" class="text-area" [(ngModel)]="jsContent" (input)="updateIframe('jsArea', jsContent)"></textarea>

  <iframe [src]="iframeSrc" id="pantalla" width="550" height="300" class="iframe-area"></iframe>

</div>



</body>
