
.container {

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.text-area {
  flex: 1 0 45%;
  background-color: #474A57ff;
  width: 400px;
  height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/*IMAGENES*/
.circle img {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
}

/*

textarea {
  position: relative; //Asegura que el textarea tenga posición relativa
  width: 100%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
}
*/

#html, #css, #js {
  position: absolute;
  transform: translate(-50%, -50%);
}

#html {
  top: 17%;
  left: 6%;
}

#css {
  top: 17%;
  left: 55%;
}

#js {
  top: 61%;
  left: 7%;
}


.btn-option  {
  background:  #26e41c 50%;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  float: right; /* Coloca el botón a la izquierda */
  margin-right: 10px; /* Agrega un margen derecho para separación */
  margin-bottom: 5%;
  margin-left: 3%;
}

#run:hover {
  background-color: #0db205; /* Cambia el color al posicionarse sobre el botón */
}
