<!DOCTYPE html>
<html>
<head>
  <script>
    function updateIframeContent(iframeId, code) {
      var iframe = document.getElementById(iframeId);
      iframe.contentDocument.documentElement.innerHTML = code;
    }
  </script>
</head>
<body>
  <div class="container">
    <textarea id="htmlArea" class="text-area" width="400" height="300" srcdoc=""></textarea>
    <textarea id="cssArea" class="text-area"  width="400" height="300" srcdoc=""></textarea>
    <textarea id="jsArea"class="text-area"  width="400" height="300" srcdoc=""></textarea>
    <textarea id="pantalla" class="text-area"  width="400" height="300" srcdoc=""></textarea>
  </div>


</body>

</html>



